html, body {
  height: 100vh;;
  overflow: hidden;
}

body {
  /* color: rgba(235, 235, 235, 0.64); */
  /* color: white; */
  /* background: #181818; */
  overflow-y: auto;
  transition: color 0.5s, background-color 0.5s;
}
